.page {
    position: relative;
    display: flex;
    flex-direction: column;
}
.tab-item:hover {
    background-color: #e2e6ea !important;
}


.profile-btn {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-size: cover; /* Ensure image covers the button */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
    cursor: pointer;
}


main {
    flex: 1;
    
}

.sidebar {
    /*    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);*/
    background-color: #023047;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 0.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* From Uiverse.io by Nawsome */
.arrow {
    cursor: pointer;
    height: 10px;
    left: calc(100% + 100px); /* Adjust based on sidebar width when sidebar is hidden */

    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    width: 20px;
}

    .arrow.open {
        left: 0; /* Place arrow next to the sidebar */
    }

.arrow-top, .arrow-bottom {
    background-color: #666;
    height: 4px;
    left: -5px;
    position: absolute;
    top: 50%;
    width: 100%;
}

    .arrow-top:after, .arrow-bottom:after {
        background-color: #000;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        transition: all 0.15s;
    }

.arrow-top {
    transform: rotate(45deg);
    transform-origin: bottom right;
}

    .arrow-top:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
    }

.arrow-bottom {
    transform: rotate(-45deg);
    transform-origin: top right;
}

    .arrow-bottom:after {
        left: 0;
        right: 100%;
        transition-delay: 0.15s;
    }

.arrow:hover .arrow-top:after {
    left: 0;
    transition-delay: 0.15s;
}

.arrow:hover .arrow-bottom:after {
    right: 0;
    transition-delay: 0s;
}

.arrow:active {
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}

#tabsScroller::-webkit-scrollbar {
    height: 8px;
  }
  #tabsScroller::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  #tabsScroller::-webkit-scrollbar-thumb {
    background: #28a745;
    border-radius: 4px;
  }
  #tabsScroller::-webkit-scrollbar-thumb:hover {
    background: #216f3d;
  }
  /* Firefox scrollbar styling */
  #tabsScroller {
    scrollbar-width: thin;
    scrollbar-color: #28a745 #f1f1f1;
  }

.search-input:focus {
    outline: none !important;
    box-shadow: none !important;
}
