@page "/customer/update"
@using AutoDynamics.Shared.Services
@using AutoDynamics.Shared.Modals
@inject ICurrentData CurrentCustomer
<h1>Update Customer</h1>

<CustomerForm isUpdating="true" userData="@updatingUser"></CustomerForm>

@code{
	private UserModal updatingUser { set; get; } = new UserModal();
	protected override void OnInitialized()
	{
		updatingUser = CurrentCustomer.Get<UserModal>(CurrentType.Customer) ?? new() ;
	}
}

