@page "/updateBill"
@using AutoDynamics.Shared.Services
@using AutoDynamics.Shared.Modals
@inject ICurrentData CurrentCustomer
<h1>Update Customer</h1>

<Billing isUpdating="true" updateData="updatingBill"></Billing>

@code {
	[Parameter]
	public BillDetails updatingBill { set; get; } = new();
	protected override void OnInitialized()
	{
		//updatingBill = CurrentCustomer.Get<BillDetails>(CurrentType.Bill) ?? new();
	}
}

