@page "/updatePurchase"
<h1>Update Customer</h1>

<AddPurchase isUpdating="true" updateData="updatingPurchase"></AddPurchase>

@code {
	[Parameter] public PurchaseDetails  updatingPurchase { set; get; } = new();
}

