@page "/supplier/update"
<h1>Update Supplier</h1>

<SupplierForm isUpdating="true" userData="@updatingUser"></SupplierForm>

@code{
	[Parameter] public Supplier updatingUser { set; get; } = new Supplier();
}

